* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(120deg, #2B3B5E,rgb(43, 34, 73));
    scroll-behavior: smooth;
}


nav {
    /*para fijar el menu*/
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.icono {
    display: block;
    /*Aplico animacion Keyframe*/
    animation: moverIzquierda 1s ease-in;
    /*Para que quede por encima Menu*/
    z-index: 100;
}


/*Botonera navegador con circulo*/

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 0.7s ease-in-out;
    background: #8388b8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4B4E94, #2D6290);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3494CC,#242547 );
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uno {
    /*desde la pagina clip-path */
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

header {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 48px;
    width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    min-height: 85vh;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

img {
    display: block;
    object-fit: cover;
    height: 450px;
    width: auto;
    /*Aplico animacion Keyframe*/
    animation: moverArriba 1s ease-in;
}

.textos {
    width: 50%;
    margin-top: 3rem;
    color: #ffffff;
}

.textos h1 {
    font-size: 65px;
    font-weight: 30px;
    animation: moverIzquierda 1s ease-in;
}

.textos h2 {
    font-weight: 50;
    font-size: 45px;
    animation: moverDerecha 1s ease-in;
}

.textos h4{
    line-height: 2rem;
    font-weight: 400;
    animation: moverIzquierda 1s ease-in;
}

.boton {
    margin-top: 20px;
    padding: 14px 25px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color: #3494cc;
    display: inline-block;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    animation: moverArriba 1s ease-in;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.boton:hover {
   
    border-radius: 20px;
    border: none;
    transform: scale(1.1);
    
}

.btn-home{
    border-radius: 20rem ;
    padding: 1rem 4rem;
}

.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3rem;
}



/*Efecto OLA curva*/

.wave {
    
    width: 100%;
    margin: 0;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #797BED, #585AAD, #313261);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#84E6F0, #242547, #84E6F0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*CONTENIDO SKILLS*/

.contenedor-main {
    margin: 7rem auto 7rem auto;
    border-radius: 10px ;
}
.habilidades{
    margin: 0 auto;
    max-width: 75vw;
    
}

.habilidades h1 {
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}

.contenedor-hablidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 990px){
    .contenedor-hablidades {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }
}

.skill {
    text-align: center;
    color: #ffffff;
    background-color: #4B4E94;
    padding: 2rem 0rem;
    margin: 2rem;
    border-radius: 10rem;
    width: 11rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.61);
    transition: all 0.2s ease-in-out;
}

.skill:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgb(52, 148, 204);
-moz-box-shadow: 0px 0px 10px 0px rgb(72, 188, 255);
box-shadow: 0px 0px 10px 0px rgb(72, 188, 255);
}

.skill.s-uno {
    animation: showUp 3s ease-in-out;
}

.skill.s-uno ul, .skill.s-dos ul {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 150;
}

.skill.s-dos {
    animation: showUp 4s ease-in-out;
}

@media (min-width: 768px) {
    .skill.s-uno {
        animation: showUp 4.5s ease-in-out;
    }
    .skill.s-dos {
        animation: showUp 5.5s ease-in-out;
    }
}

.skill h2 {
    margin-bottom: 20px;
}

.icon-habilidades {
    color: #ffffff;
    font-size: 50px;
}

.icon-habilidades i {
    transition: color .2s ease-in-out;
    transform: scale(1) .2s ease;
}


/*Colores iconos*/

#html5:hover {
    color: #f59b25;
}

#css3:hover {
    color: #256ef5;
}

#js:hover {
    color: #dde001;
}

#csharp:hover {
    color: #a225f5;
}

#git:hover {
    color: #58ca58;
}

#sql:hover {
    color: #686f7c;
}


/*SECTION EXPERIENCE*/

.section-experience {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-experience h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em;
}

.contenedor-experience {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    /*wrap - para que se coloque uno bajo el otro*/
    flex-wrap: wrap;
}

.experience :first-child {
    margin-top: 2px;
}

.experience {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.experience h2{
    margin-bottom: 15px;
    text-align: center;
}

.lista-tareas {
    margin-top: 8px;
}

.lista-tareas a {
    text-decoration: none;
    font-size: 1em;
    color: #06c5ff;
    transition: all 0.5s ease-in-out;
}

.lista-tareas a:hover {
    color: blueviolet;
    font-size: 1.1em;
}

.lista-tareas ul,li {
    text-align: center;
    list-style: none;
    line-height: 1.5rem;
}



/******FOOTER*****/

.footer {
    margin-top: 30px;
}

.footer h3 {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}


/*ICONOS FOOTER*/

.iconos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    animation: moverDerecha 1s ease-in;
}

@media (min-width: 768px) {
    .iconos {
        justify-content: center;
        align-items: flex-end;
    }
    .footer h3 {
        text-align: center;
    }
}

.iconos a {
    margin: 0 10px;
    padding: 5px;
    color: #ffffff;
    font-size: 35px;
    transition: all .2s ease-in-out;
}

.iconos a:last-child {
    margin-right: 5px;
}


#linkedin:hover{
    color: #3494cc;
    transform: scale(1.2);
}#github:hover{
    color: #adadad;
    transform: scale(1.2);
}
#cv:hover{
    color: #f0b66b;
    transform: scale(1.2);
}
#whatsapp:hover{
    color: #86f398;
    transform: scale(1.2);
}

/*div espacio footer*/

.espacio{
    height: 30px;
    margin-top: 10px;
}


/*ANIMACIONES*/

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        /*Mover de izquierda a derecha*/
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        /*Mover de derecha a izquierda*/
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        /*Mover de arriba a abajo*/
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
    img {
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    img {
        height: 370px;
    }
    .textos h1 {
        font-size: 70px;
    }
    .textos h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    img {
        height: 250px;
    }
    .textos h1 {
        font-size: 40px;
    }
    .textos h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 50px;
    }
    .textos h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 340px) {
    img {
        margin-top: 20px;
        height: 160px;
    }
    .textos h1 {
        font-size: 35px;
    }
    .textos a {
        width: 100px;
        font-size: 12px;
    }
    .textos h2 {
        font-size: 15px;
    }
   
    
}