* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
}

nav {
    /*para fijar el menu*/
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.icono {
    display: block;
    /*Aplico animacion Keyframe*/
    animation: moverIzquierda 1s ease-in;
    /*Para que quede por encima Menu*/
    z-index: 100;
}


/*Botonera navegador con circulo*/

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uno {
    /*desde la pagina clip-path */
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

header {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

img {
    display: block;
    object-fit: cover;
    height: 450px;
    width: auto;
    /*Aplico animacion Keyframe*/
    animation: moverArriba 1s ease-in;
}

.textos {
    width: 50%;
    color: #ffffff;
}

.textos h1 {
    font-size: 65px;
    font-weight: 30px;
    animation: moverIzquierda 1s ease-in;
}

.textos h2 {
    font-weight: 50;
    font-size: 45px;
    animation: moverDerecha 1s ease-in;
}

.boton {
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 10px;
    width: 120px;
    display: inline-block;
    border: 1px solid #ffffff;
    text-align: center;
    animation: moverArriba 1s ease-in;
}

.boton a {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}


/*Efecto OLA curva*/

.wave {
    height: 100px;
    width: 100%;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*CONTENIDO SKILLS*/

.contenedor-main {
    margin: 70px 0;
}

.habilidades h1 {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

.contenedor-hablidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

.skill {
    text-align: center;
    color: #ffffff;
}

.skill.s-uno {
    animation: showUp 3s ease-in-out;
}

.skill.s-uno p {
    font-family: 'Indie Flower', cursive;
    ;
}

.skill.s-dos {
    animation: showUp 4s ease-in-out;
}

@media (min-width: 768px) {
    .skill.s-uno {
        animation: showUp 4.5s ease-in-out;
    }
    .skill.s-dos {
        animation: showUp 5.5s ease-in-out;
    }
}

.skill h2 {
    margin-bottom: 20px;
}

.icon-habilidades {
    color: #ffffff;
    font-size: 50px;
    transition: color .2s ease-in-out;
}

.icon-habilidades i:hover {
    color: #000000;
}


/*SECTION EXPERIENCE*/

.section-experience {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-experience h1 {
    color: #ffffff;
    text-align: center;
    margin: 20px 0;
}

.contenedor-experience {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    /*wrap - para que se coloque uno bajo el otro*/
    flex-wrap: wrap;
}

.experience :first-child {
    margin-top: 25px;
}

.experience {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
}


/******FOOTER*****/

.footer {
    margin-top: 30px;
}

.footer h3 {
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
}


/*ICONOS FOOTER*/

.iconos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    animation: moverDerecha 1s ease-in;
}

@media (min-width: 768px) {
    .iconos {
        justify-content: flex-end;
        align-items: flex-end;
    }
    .footer h3 {
        text-align: right;
        padding-right: 20px;
    }
}

.iconos a {
    margin: 10px;
    padding: 5px;
    color: #ffffff;
    font-size: 35px;
    transition: color .2s ease-in-out;
}

.iconos a:hover {
    color: #302b63;
}

.iconos a:last-child {
    margin-right: 0;
}


/*ANIMACIONES*/

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        /*Mover de izquierda a derecha*/
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        /*Mover de derecha a izquierda*/
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        /*Mover de arriba a abajo*/
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
    img {
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    img {
        height: 370px;
    }
    .textos h1 {
        font-size: 70px;
    }
    .textos h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    img {
        height: 250px;
    }
    .textos h1 {
        font-size: 40px;
    }
    .textos h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos h1 {
        font-size: 50px;
    }
    .textos h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 340px) {
    img {
        margin-top: 20px;
        height: 160px;
    }
    .textos h1 {
        font-size: 35px;
    }
    .textos a {
        width: 100px;
    }
    .textos h2 {
        font-size: 15px;
    }
}

ty